header{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    color: white;
}

h1{
    margin: 0px;
}

h3{
    margin-top: 0px; 
 }

body{
    background-color: orange;
}

.background-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 220px;
    border-radius: 30px;
}

#senha{
    margin-top: 7px;
}

input{
    display: block;
    font-size: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-buttom{
    margin-top: 20px;
    width: 148px;
    height: 68px;
    font-size: 42px;
    color: white;
    background-color: #c0c0c0;
    border: solid #c0c0c0 1px;
}

.SignUp-buttom{
    margin-top: 30px;
    width: 170px;
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: #c0c0c0;
    border: solid #c0c0c0 1px;
}