header{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    color: white;
}

h1{
    margin-bottom: -40px;
}

h3{
    margin-bottom: 7px;
 }

body{
    background-color: orange;
}

.background-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 440px;
    height: 250px;
}

#senha{
    margin-top: 9px;
}

input{
    display: block;
    font-size: 24pt;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-buttom{
    margin-top: 20px;
    width: 148px;
    height: 68px;
    font-size: 42px;
    color: white;
    background-color: #c0c0c0;
    border: solid #c0c0c0 1px;
}

.SignUp-buttom{
    margin-top: 30px;
    width: 170px;
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: #c0c0c0;
    border: solid #c0c0c0 1px;
}

.Dev{
    position: absolute;
    left: 22px;
    top: 753px;
    font-size: 20px;
    color: white;
    background-color: #e09100;
    width: 150px;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
}